.form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  border: 1px solid #38cccc;
  border-radius: 30px;
  background-color: rgb(0, 0, 0, 0.5);
}

.project_form,
.language_form,
.client_form {
  flex: 1;
  background-color: #15202b;
  border-radius: 30px 0 30px 0;
  color: white;
  margin: 1rem;
  padding: 0 1rem 2rem 1rem;
  box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.3);
}

.form_label {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0;
  text-indent: 0.2rem;
}

.form_input {
  height: 1.5rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  margin: 0.2rem 0;
  outline: transparent;
}

.checkbox_label {
  display: flex;
  margin: 0.7rem;
}

.form_btn {
  background-color: #38cccc;
  border: none;
  outline: none;
  height: 2rem;
  padding: 0 2rem;
  border-radius: 30px;
  margin: 1rem;
}
