.project_details_container {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.1);
	border-radius: 30px 0 30px 0;
	margin: 1rem;
}

.back_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	border: 2px solid white;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	margin: 0rem 10rem;
}

.back_icon {
	transform: rotate(180deg);
	width: 2rem;
	fill: white;
}

.info_container {
	display: flex;
	flex-direction: column;
}

.info_title {
	margin: 1rem 0;
	font-weight: bold;
}
