.preview_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 25rem;
  width: 20rem;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: lightblue;
  transition: 0.5s ease;
}

.preview_container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.5);
}

.project_title_preview {
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 5px black;
}

@keyframes backMove {
  0% {
    background-position: top left;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: top left;
  }
}
