.spinner_container {
  position: fixed;
  width: 100%;
  top: 50%;
}

.spinner {
  margin: 0 auto;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 0.5rem solid rgb(43, 58, 68);
  border-top: 0.5rem solid transparent;
  background: transparent;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
