.popup_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  border: 1px solid #38cccc;
  border-radius: 30px;
  background-color: var(--darkBlue);
  box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.3);
}
