:root {
	--darkBlue: #15202b;
	--lightBlue: #38cccc;
}

@font-face {
	font-family: varela;
	src: url("./assets/fonts/VarelaRound-Regular.ttf");
	font-display: swap;
}

.App {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--darkBlue);
	color: white;
}

* {
	font-family: varela;
}

a {
	text-decoration: none;
}

main,
section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	min-height: 100vh;
}
